# All annotation descriptions and default values are available in notes.md

# @Val

#lombok.val.flagUsage=[warning,error]
#lombok.var.flagUsage=[warning,error]

# @NonNull
#lombok.nonNull.exceptionType=[NullPointerException, IllegalArgumentException, JDK, GUAVA, Assertion]
#lombok.nonNull.flagUsage=[warning, error]

# @Cleanup
#lombok.cleanup.flagUsage=[warning, error]

# @GetterSetter
#lombok.accessors.chain=[true, false]
#lombok.accessors.fluent=[true, false]
#lombok.accessors.prefix+=[list]
#lombok.accessors.prefix-=[list]
#lombok.getter.noIsPrefix=[true, false]
#lombok.accessors.capitalization=[basic, beanspec]
#lombok.setter.flagUsage=[warning, error]
#lombok.getter.flagUsage=[warning, error]
#lombok.getter.lazy.flagUsage=[warning, error]

# @ToString
#lombok.toString.includeFieldNames=[true, false]
#lombok.toString.doNotUseGetters=[true, false]
#lombok.toString.callSuper=[call, skip, warn]
#lombok.toString.onlyExplicitlyIncluded=[true, false]
#lombok.toString.flagUsage=[warning, error]

# @EqualsAndHashCode
#lombok.equalsAndHashCode.doNotUseGetters=[true, false]
#lombok.equalsAndHashCode.callSuper=[call, skip, warn]
#lombok.equalsAndHashCode.flagUsage=[warning, error]

# @Constructor
#lombok.anyConstructor.addConstructorProperties=[true, false]
#lombok.allArgsConstructor.flagUsage=[warning, error]
#lombok.requiredArgsConstructor.flagUsage=[warning, error]
#lombok.noArgsConstructor.flagUsage=[warning, error]
#lombok.copyableAnnotations=[list]
#lombok.noArgsConstructor.extraPrivate=[true, false]

# @Data
#lombok.data.flagUsage=[warning, error]
#lombok.noArgsConstructor.extraPrivate=[true, false]

# @Value
#lombok.value.flagUsage=[warning, error]
#lombok.noArgsConstructor.extraPrivate=[true, false]

# @Builder
#lombok.builder.className=[name]
#lombok.builder.flagUsage=[warning, error]
#lombok.singular.useGuava=[true, false]
#lombok.singular.auto=[true, false]

# @SneakyThrows
#lombok.sneakyThrows.flagUsage=[warning, error]

# @Synchronized
#lombok.synchronized.flagUsage=[warning, error]

# @Locked
#lombok.locked.flagUsage=[warning, error]

# @With
#lombok.accessors.prefix+=[fieldPrefix]
#lombok.accessors.prefix-=[fieldPrefix]
#lombok.accessors.capitalization=[basic, beanspec]
#lombok.with.flagUsage=[warning, error]

# @Log
#lombok.log.flagUsage=[warning, error]
#lombok.log.custom.flagUsage=[warning, error]
#lombok.log.apacheCommons.flagUsage=[warning, error]
#lombok.log.flogger.flagUsage=[warning, error]
#lombok.log.jbosslog.flagUsage=[warning, error]
#lombok.log.javaUtilLogging.flagUsage=[warning, error]
#lombok.log.log4j.flagUsage=[warning, error]
#lombok.log.log4j2.flagUsage=[warning, error]
#lombok.log.slf4j.flagUsage=[warning, error]
#lombok.log.xslf4j.flagUsage=[warning, error]
#lombok.log.fieldName=[customName]
#lombok.log.fieldIsStatic=[true, false]
#lombok.log.custom.declaration=[]